<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- Bean for CreateRoleService class for setting dataSource database configurations -->
	<!-- <bean id="DBUtility" class="bahriskcanvas.CreateRoleService">
		<property name="datasource" ref="dataSource1" />
	</bean> -->
	<bean id="DBUtility1" class="bahriskcanvas.DatabaseConnection">
		<property name="datasource" ref="dataSource1" />
	</bean>
	
	<!-- Bean for login service -->
	<bean id="DAO" class="bahriskcanvas.ConnectionClass">
    	<property name="dataSource" ref="dataSource1" /> 
  	</bean>
	
	<!-- Group Service bean -->
	<bean id="groupService" class="riskcanvas.service.GroupServiceImpl"></bean>
	
	
     <!-- Bean for setting common database connections -->
	<bean id="dataSource1" class="org.springframework.jdbc.datasource.DriverManagerDataSource">

		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://10.1.7.105/BoozAllen" />
		<property name="username" value="testing" />
		<property name="password" value="abcd@1234" /> 
	</bean>

</beans>
