<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="DBUtility1" class="bahriskcanvas.DatabaseConnection">
		<property name="datasource" ref="dataSource1" />
	</bean>
	
	<!-- Bean for setting database related configuration -->
	<bean id="DBUtility" class="riskcanvas.dao.DatabaseConnection">
		<property name="datasource" ref="dataSource1" />
	</bean>
	
	
	<!-- Bean for login service -->
	<bean id="DAO" class="bahriskcanvas.ConnectionClass">
    	<property name="dataSource" ref="dataSource1" /> 
  	</bean>
  	
  	<!-- Group Service bean -->
	<bean id="groupService" class="riskcanvas.service.GroupServiceImpl">
	<property name="groupDao" ref="groupDao"/>
	</bean>
	
	<!-- Group DAO bean -->
	<bean id="groupDao" class="riskcanvas.dao.group.GroupDaoImpl"></bean>
	
	<!-- Authentication Service bean -->
	<bean id="authenticationService" class="riskcanvas.service.AuthenticationServiceImpl">
	<property name="authenticationDao" ref="authenticationDao"/>
	</bean>
	
	<!-- Authentication DAO bean -->
	<bean id="authenticationDao" class="riskcanvas.dao.authentication.AuthenticationDaoImpl"></bean>
	
	
    <!-- Bean for user service class -->
	<bean class="riskcanvas.service.UserServiceImpl">
   		<property name="userdao" ref="userdao">
  		</property>
    </bean>
    
    <!-- Bean for UserDao class -->
	<bean id="userdao" class="riskcanvas.dao.user.UserDaoImpl"/>

     <!-- Bean for setting common database connections -->
	<bean id="dataSource1" class="org.springframework.jdbc.datasource.DriverManagerDataSource">

		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://10.1.7.105/BoozAllen" />
		<property name="username" value="testing" />
		<property name="password" value="abcd@1234" /> 
	</bean>

</beans>
